body{
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-container{
	display: flex;
}

.nav-item{
	margin: 0.5em;
	padding: 0.5em;
}

.tree-row{
	padding: 0.6em 0;
}

.person-container{
	display: inline-block;
	margin: 0.3em 0.6em;
	padding: 0.8em;
	background-color: #ddfdff;
	border-radius: 8px;
}

.marriage-row{
	display: flex;
}

.marriage-container{
	margin: 0 0.6em;
	padding: 0.8em;
	background-color: #eee;
	border-radius: 8px;
}

.tree-link{
	font-size: 0.8em;
	color: #aaaaaa;
}

.timeline-wrapper{
	display:flex;
	flex-wrap: nowrap;
}

.timeline-years{
	margin: 0 0.8em;
	position: relative;
	width: 8.0em;
}

.timeline-year{
	position: absolute;
	width: 12em;
}

.timeline-items{
	display: inline-block;
	position: relative;
}

.timeline-item{
	z-index: 0;
	position: absolute;
	width: 28em;
	transition: left 0.5s;
	left: 0;
	transition-delay: 1s;
	background-color:#eee;
	padding: 0 4px;
}

.timeline-item:focus, .timeline-item:focus-within{
	z-index: 50;
	left: 10em;
	transition-delay: 0s;
	border: 1px dashed #ccc;
}

.timeline-item:hover{
	z-index: 100;
	
	transition-delay: 0s;
	border: 1px solid #ccc;
}

.timeline-item:hover.timeline-item:focus{
	left: 10em;
	border: 1px dashed #ccc;
}

.timeline-item .person-container{
	background-color: #ccecee;
}

.timeline-item:hover .person-container, .timeline-item:focus .person-container, .timeline-item:focus-within .person-container{
	background-color: #ddfdff;
}

.timeline-item:has(input:checked){
	
	left: 10em;
	transition-delay: 0s;
	border: 1px dashed #ccc;
}

.list-view-item{
	padding: 0.5em 0 0 0;
	border-top: 1px solid #eee;
}

.person-sort{
	font-size: 0.6em;
	color: #aaa;
}