body{
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.tree-row{
	padding: 7px 0;
}

.person-container{
	display: inline-block;
	padding: 10px;
}

.marriage-row{
	display: flex;
}

.marriage-container{
	margin:0 7px;
	padding: 10px;
	background-color: #eee;
}

.tree-link{
	font-size: 10px;
	color: #aaaaaa;
}

.timeline-wrapper{
	display:flex;
	flex-wrap: nowrap;
}

.timeline-years{
	margin: 0 10px;
	position: relative;
	width: 100px;
}

.timeline-year{
	position: absolute;
	width: 150px;
}

.timeline-items{
	display: inline-block;
	position: relative;
}

.timeline-item{
	position: absolute;
	width: 300px;
}
